<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="/">ChatBar 聊聊吧!&#127867;</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {{#if user}}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {{#ifCond path 'getGroupChats'}}active{{/ifCond}}" aria-current="page"
            href="/groupChats">群組話題</a>
        </li>
        <li class="nav-item ms-1">
          <a class="nav-link {{#ifCond path 'userList'}}active{{/ifCond}}" aria-current="page" href="/users">誰也在用</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#some path (makeArray 'getUserMessages' 'getUserGroupMessages' 'getUserPrivateMessages') }}active{{/some}}"
            href="/users/loginUser/messages">你的聊天</a>
        </li>
      </ul>
      <span class="navbar-text me-3 ">Hi, {{user.account}}!</span>
      <button class="btn btn-outline-success my-sm-0 my-2" onclick="signout()">Logout</button>
    </div>
    {{/if}}
  </div>
</nav>
<script>
  function signout() {
    document.location.href = "/users/logout"
  }
</script>