<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="/">ChatBar 聊一下 !</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {{#if user}}
    <div class="collapse navbar-collapse"  id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {{#ifCond path 'getGroupChats'}}active{{/ifCond}}" aria-current="page" href="/groupChats">最新話題</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#some path (makeArray 'getUserMessages' 'getUserGroupMessages') }}active{{/some}}" href="/users/{{user.id}}/messages">正在進行的聊天</a>
        </li>
      </ul>
      <a href="/users/logout"><button class="btn btn-outline-success my-sm-0 my-2">Logout</button></a>
      {{/if}}
    </div>
  </div>
</nav>