<div class="chat-nav bg-dark d-flex flex-column align-items-center justify-content-start">
  <a href="/pages/messages" class="all-messages mt-3 {{#ifCond path 'getUserMessages'}}choose{{/ifCond}}">所有聊天</a>
  <a href="/pages/groupMessages" class="group-messages mt-3 {{#ifCond path 'getUserGroupMessages'}}choose{{/ifCond}}">群組</a>
  <a href="/pages/privateMessages" class="private-messages mt-3 {{#ifCond path 'getUserPrivateMessages'}}choose{{/ifCond}}">個人</a>
</div>