<div class="loginAndRegister-wrapper d-flex flex-column align-items-center" data-currentpage="login">
    <div class="buttons-box d-flex flex-row justify-content-center align-items-center">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link text-center active" id="loginHref" aria-current="page" href="pages/users/login" style="border-color: #fff #dee2e6 #fff #fff;">登入</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center" id="registerHref" href="/pages/register" style="color: #dee2e6;">註冊</a>
            </li>
        </ul>
    </div>
    <form action="/users/logIn" method="POST" class="login-form d-flex flex-column align-items-center justify-content-center">
        <div class="mt-4 mb-3">
            <input type="text" id="account" name="account" placeholder="輸入使用者帳號">
            <i class="fa-regular fa-user"></i>
        </div>
        <div class="mt-3 mb-3">
            <input type="password" id="password" name="password" placeholder="輸入使用者密碼">
            <i class="fa fa-key"></i>
        </div>
        <div class="mt-3 mb-3 d-flex flex-row justify-content-end">
            <a href="#" class="fst-italic" id="forgotPassword">忘記密碼?</a>
        </div>
        <button type="submit">登入</button>
    </form>
</div>